@CHARSET "UTF-8";

body {

	height: 100%;
	font-family: "Jeju Gothic", "Hanna", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	overflow-x: hidden;
}
nav ul li{
	padding: 0px 5px;
}

#container {
	/* background-image:url("/searcherEngine/img/background/background1.jpg");
	background-size : 100% 100%; */
	display:inline-block;
	margin: 10px 20px auto;
	padding: 20px 40px;
	width: 1200px;
	height: 1500px;
}

#headDiv {
	padding: 20px;
}
#main{
	text-align: center;
	padding-top:10%; 
}

.subContainer{
	width: 350px;
	display: inline-block;
	border: 1px ridge;
	margin: 10px 10px;
}
.logoContainer{
	border-bottom: 1px groove;
}
.contentsContainer {
	height: 600px;
	background-color: rgb(226,228,230);
	overflow: auto;
	padding: 5px;
}

#categoryBox {
	position: fixed;
	z-index:2;
	left: 30%;
	top: 30%;
	width: 500px;
	height: 300px;
	display: none;
	background-color:white;
	border: 1px solid;
}