@CHARSET "UTF-8";

html,body {
	height: 100%;
	font-family: "Jeju Gothic", "Hanna", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	overflow-x: hidden;
}
nav ul li{
	padding: 0px 5px;
}

#container {
	margin: 10 20px auto;
	padding: 20px 30px;
	width: 100%;
	height: 2000px;
}

#headDiv {
	padding: 20px;
}
#main{
	text-align: center;
	padding-top:10%; 
}

.subContainer{
	width: 350px;
	display: inline-block;
	border: 1px ridge;
	margin: 10px 10px;
}
.logoContainer{
	border-bottom: 1px groove;
}
.contentsContainer {
	height: 600px;
	background-color: white;
	overflow: auto;
	margin: 10px;
}

#categoryBox {
	position: fixed;
	left: 30%;
	top: 30%;
	width: 500px;
	height: 300px;
	display: none;
	background-color:white;
	border: 1px solid;
}